* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eee;
}

.center {
  text-align: center;
}

.grey-text {
  color: #555;
}

.small {
  font-size: 0.9em;
}

.content {
  max-width: 645px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.flex_content {
  display: flex;
}

.header-container {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #000;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 2.5em;
  align-items: center;

  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  text-transform: uppercase;
}

body {
  font-family: 'Noto Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.text_xs {
  font-size: .8rem;
}
.text_s {
  font-size: .9rem;
}
.text_m {
  font-size: 1rem;
}
.text_l {
  font-size: 1.2rem;
}
.text_xl {
  font-size: 1.5rem;
}
.uppercase {
  text-transform: uppercase;
}
.long_text {
  line-height: 1.5rem;
}
.airy-text {
  letter-spacing: .1rem;
}
.bold {
  font-weight: 800;
}
.serif {
  font-family: 'Noto Serif';
}
.text_link {
  text-decoration: underline;
}
.hover_under:hover {
  text-decoration: underline;
}
.symbol {
  font-family: 'Noto Sans Symbols 2';
}

/* Spacers */
.spacer_s {
  height: 1rem;
}
.spacer_m {
  height: 3rem;
}
.spacer_l {
  height: 5rem;
}

.image_container {
  width: 250px;
  flex-shrink: 0;
  margin-left: 2rem;
}
.image_container img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .flex_content {
    flex-direction: column;
  }
  .image_container {
    width: 100%;
    margin-top: 2rem;
    margin-left: 0;
  }
}

.btn {
  display: inline-block;
}
.btn a {
  padding: .6em 1.2em;
  line-height: 1em;
  text-transform: uppercase;
  border: 1px solid #000;
}
.btn_white a {
  background-color: #fff;
}
.btn_black a {
  color: #fff;
  background-color: #000;
}
.btn a:hover :first-child {
  text-decoration: underline;
}
