/* General */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    line-height: 1.5;
    background-color: rgb(255, 250, 240); /* floralwhite */
    font-family: sans-serif;
}
a {
    color: rgb(178, 34, 34); /* firebrick */
    text-underline-position: under;
    text-decoration-thickness: 1pt;
}

/* Home page */
.home-content {
    max-width: 600px;
    margin: 0 auto;
}
.portrait {
    height: 250px;
    padding: 10px;
    background-color: #777777; /* darktable bg */
}

/* Album pages */
.album-content{
    height: 100vh;
    display: flex;
    align-items: center;
}
.album-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.slideshow {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 3rem;
    overflow: scroll;
    scrollbar-width: none;
}
.slideshow h2 {
    min-width: 300px;
    max-width: 300px;
    margin-right: 25px;
}
.slideshow img {
    height: 60vh;
    margin-right: 15px;
    padding: 10px;
    background-color: #777777;
}

@media (max-width: calc(600px + 2rem)) {
    .home-content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .slideshow h2 {
        min-width: 200px;
    }
}
