{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<nav class="album-navigation">
    <small>
        <a href="/">Home Page</a> 
        {{ with .NextInSection }}
        · <a href="{{ .RelPermalink }}">Previous Album</a> 
        {{ end }}
        {{ with .PrevInSection }}
        · <a href="{{ .RelPermalink }}">Next Album</a>
        {{ end }}
    </small>
</nav>
<div class="album-content">
    <div class="slideshow" id="slideshow">
        <div class="album-textbox">
            <h2>{{ .Title }}</h2>
            <p></p>
        </div>
        {{ range .Resources.Match "images/*.jpeg" }}
        <img src="{{ .RelPermalink }}"></img>
        {{ end }}
    </div>
</div>
<div class="scroll-button-container">
    <button class="scroll-button" id="scrollLeft">&larr; Scroll Left</button>
    <button class="scroll-button" id="scrollRight">Scroll Right &rarr;</button>
</div>
<script>
    const container = document.getElementById('slideshow');
    const scrollAmount = .5 * screen.width; // Number of pixels to scroll per click

    document.getElementById('scrollLeft').addEventListener('click', () => {
        container.scrollBy({
            left: -scrollAmount,
            behavior: 'smooth'
        });
    });

    document.getElementById('scrollRight').addEventListener('click', () => {
        container.scrollBy({
            left: scrollAmount,
            behavior: 'smooth'
        });
    });
</script>
{{ end }}