* {
    box-sizing: border-box;
}
body {
    margin: 0;
    line-height: 1.5;
    background-color: rgb(255, 250, 240); /* floralwhite */
    font-family: sans-serif;
}
a {
    color: rgb(178, 34, 34); /* firebrick */
    text-underline-position: under;
    text-decoration-thickness: 1pt;
}

.portrait {
    height: 250px;
    padding: 10px;
    background-color: #777777; /* darktable bg */
}

.text-column {
    max-width: 600px;
    margin: 0 auto;
}
@media (max-width: calc(600px + 2rem)) {
    .text-column {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.slideshow {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    padding: 50px 25px;
}
.slideshow-wrapper {
    background-color: #777777; /* darktable recommended */
}
.slideshow img {
    height: 500px;
    padding-right: 15px;
}
